<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://localhost:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://localhost:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://localhost:3002/js/html5shiv.min.js"></script>
	<!--[endif]-->


</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<% if (session) { %>

		<!--====== Products Page ======-->

		<section class="contact section-padding">
			<div class="container">

				<div class="section-head spac">
					<div>
						<span><h3>Admin Dashboard</h3></span>
						<span class="float-right"><td><a class="logout-button" href="/logout">Logout</a></td></span>
					</div>
				</div>

				<% if (message.length > 0) { %>
					<% if (categoryRedirect) { %>
					<% if (editRedirect) { %>
					<div class="alert alert-danger col-sm-12"><%= message %><span style="float: right; cursor: pointer;"
							onclick="location.href='/admin-category/<%= categoryId%>'"><i class="fa fa-times"
								aria-hidden="true"></span></i>
					</div>
					<% } else { %>
					<div class="alert alert-danger col-sm-12"><%= message %><span style="float: right; cursor: pointer;"
							onclick="location.href='/admin-category/computers'"><i class="fa fa-times"
								aria-hidden="true"></span></i>
					</div>
					<% } %>
					<% } else { %>
					<% if (editRedirect) { %>
					<div class="alert alert-danger col-sm-12"><%= message %><span style="float: right; cursor: pointer;"
							onclick="location.href='/admin-subCategory/<%= categoryId%>/<%= subCategoryId%>'"><i
								class="fa fa-times" aria-hidden="true"></span></i>
					</div>
					<% } else { %>
					<div class="alert alert-danger col-sm-12"><%= message %><span style="float: right; cursor: pointer;"
							onclick="location.href='/admin-category/<%= categoryId%>'"><i class="fa fa-times"
								aria-hidden="true"></span></i>
					</div>
					<% } %>
					<% } %>
					<% } %>
		

				<div class="row">
					<div class="cat-outer col-md-3">
						<p class="cat-heading-text">Categories</p>
						<hr>

						<%  for (var i = 0; i < productCategoryList.length; i++) { %>
						<div class="cat-link">
							<a class="cat-li-text" href='/admin-category/<%= productCategoryList[i].name%>' role="button">
								<i class="fas fa-caret-right mr-10"></i>
								<%= productCategoryList[i].displayName%>
							</a>
							<% if(Object.keys(productCategoryList[i].subCategory).length > 0) { %>
								<a data-toggle="collapse" href="#<%= productCategoryList[i].name%>"><i class="fa fa-angle-down"
										aria-hidden="true"></i></a>
								<% } %>
								<% if(Object.keys(productCategoryList[i].subCategory).length > 0) { %>
							<div class="collapse" id=<%= productCategoryList[i].name%>>
								<div class="card card-body ml-20">
									<% for (var [key, value] of Object.entries(productCategoryList[i].subCategory)) { %>
									<a class="card-sub-li-text" href="/admin-subCategory/<%= productCategoryList[i].name%>/<%= value%>"><%= key%></a>
									<% } %>
								</div>
							</div>
							<% } %>
						</div>
						<% } %>

					</div>
					<div class="prod-outer col-md-9">
						<span class="prod-heading-text"><span class="admin-product-heading">Main Heading: </span>
						<%= displayCategoryId%> &nbsp;&nbsp;</span>
						<span class="cat-total-text"><span class="admin-product-heading">Total Products: </span>
						<%= products.length %></span>

						<% if(subCategoryId.length != 0) { %>
							<span class="prod-heading-text"><span class="admin-product-heading">Sub Heading: </span>
							<%= displaySubCategoryId%></span>
					<% } else {%>

			<div class="row">
				<div class="col-md-6">
					<form role="form" method="post" action="/addSubCategory/<%= categoryId %>"
						enctype="multipart/form-data">
						<span>Sub Category : </span>
						<input style="width: 43%; height: 20px;"
							title="Start and end with character and use only alphabets, &, -, spaces and / between characters."
							pattern="[a-zA-Z][a-zA-Z &/-]+[a-zA-Z]$" type="text" name="addSubCategory" required>
							<% if (message.length > 0) { %>
								<input disabled type="submit" value="Add">
								<% } else { %>
									<input type="submit" value="Add">
								<% } %>
					</form>
				</div>
				<div class="col-md-6">
					<form role="form" method="post" class="float-right" action="/deleteSubCategory/<%= categoryId %>" enctype="multipart/form-data">
						<span>Sub Category : </span>
						<select class="pd-0" value="" name="deleteSubCategory" required>
							<option value="">Select</option>
							<% for (var i = 0; i < dropdownList.length; i++) { %>
							<option value="<%= dropdownList[i].name%>">
								<%= dropdownList[i].displayName%></option>
							<% } %>
						</select>
						<% if (message.length > 0) { %>
							<input disabled type="submit" value="Delete">
							<% } else { %>
								<input type="submit" value="Delete">
							<% } %>
					</form>
				</div>
			</div>

				<% } %>
						<hr>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<!-- <th>Image</th> -->
										<% if(subCategoryId.length == 0) { %>
										<th>Sub Category</th>
										<% } %>
										<th>Name</th>
										<th>Description</th>
										<th>Stock Count</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<% if (editProduct) { %>
			
										<% if(subCategoryId.length == 0) { %>
										<form role="form" method="post" action="/admin-category-add/<%= categoryId %>/<%= editProduct.id%>" enctype="multipart/form-data">
											<!-- <td><input type="file" class="fileWidth" accept="image/*" value="<%= editProduct.img %>" name="img" required></td> -->
			
											<% if(subCategoryId.length == 0) { %>
											<% if(dropdownList.length > 0) { %>
											<td><select class="pd-0" value="" name="subCategory" required>
													<option value="">Select</option>
													<% for (var i = 0; i < dropdownList.length; i++) { %>
													<option value="<%= dropdownList[i].name%>,<%= dropdownList[i].displayName%>">
														<%= dropdownList[i].displayName%></option>
													<% } %>
												</select></td>
											<% } else {%>
											<td><select class="pd-0" disabled name="subCategory" required>
													<option value="">No Category Selected</option>
												</select></td>
											<% } %>
											<% } %>
			
											<td><input type="text" class="pd-0" value="<%= editProduct.name %>" name="name" required></td>
											<td><input type="text" class="pd-0" value="<%= editProduct.description %>" name="description" required></td>
											<td><input type="number" value="<%= editProduct.stockCount %>" name="stockCount" required></td>
											<% if (message.length > 0) { %>
											<td><input disabled class="mr-0" type="submit" value="Add/Update"></td>
											<% } else { %>
												<td><input class="mr-0" type="submit" value="Add/Update"></td>
											<% } %>
										</form>
			
										<% } else { %>
			
										<form role="form" method="post" action="/admin-subCategory-add/<%= categoryId %>/<%= subCategoryId %>/<%= editProduct.id%>" enctype="multipart/form-data">
											<td style="display: none;"><input type="text" value="<%= displaySubCategoryId %>" name="displaySubCategoryId" required></td>
											<!-- <td><input type="file" class="fileWidth" accept="image/*" value="<%= editProduct.img %>" name="img" required></td> -->
											<td><input type="text" class="pd-0" value="<%= editProduct.name %>" name="name" required></td>
											<td><input type="text" class="pd-0" value="<%= editProduct.description %>" name="description" required></td>
											<td><input type="number" class="pd-0" value="<%= editProduct.stockCount %>" name="stockCount" required></td>
											<% if (message.length > 0) { %>
											<td><input class="mr-0" disabled type="submit" value="Add/Update"></td>
											<% } else { %>
												<td><input class="mr-0" type="submit" value="Add/Update"></td>
											<% } %>
										</form>
										<% } %>
			
										<% } else { %>
			
										<% if(subCategoryId.length == 0) { %>
										<form role="form" method="post" action="/admin-category-add/<%= categoryId %>" enctype="multipart/form-data">
											<!-- <td><input type="file" class="fileWidth" name="img" required></td> -->
											<% if(subCategoryId.length == 0) { %>
											<% if(dropdownList.length > 0) { %>
											<td><select class="pd-0" name="subCategory" value="" required>
											<option value="">Select</option>
											<% for (var i = 0; i < dropdownList.length; i++) { %>
											<option value="<%= dropdownList[i].name%>,<%= dropdownList[i].displayName%>">
												<%= dropdownList[i].displayName%></option>
											<% } %>
											</select></td>
											<% } else {%>
											<td><select class="pd-0" disabled name="subCategory" required>
											<option value="">No Category Selected</option>
											</select></td>
											<% } %>
											<% } %>

											<td><input class="pd-0" type="text" name="name" required></td>
											<td><input class="pd-0" type="text" name="description" required></td>
											<td><input class="pd-0" type="number" name="stockCount" required></td>

											<% if (message.length > 0) { %>
												<td><input disabled class="mr-0" type="submit" value="Add/Update"></td>
												<% } else { %>
													<td><input class="mr-0" type="submit" value="Add/Update"></td>
												<% } %>
										</form>
			
										<% } else { %>

										<form role="form" method="post"
											action="/admin-subCategory-add/<%= categoryId %>/<%= subCategoryId %>"
											enctype="multipart/form-data">
											<!-- <td><input type="file" class="fileWidth" name="img" required></td> -->
											<td style="display: none;"><input type="text" value="<%= displaySubCategoryId %>" name="displaySubCategoryId" required></td>
											<td><input class="pd-0" type="text" name="name" required></td>
											<td><input class="pd-0" type="text" name="description" required></td>
											<td><input class="pd-0" type="number" name="stockCount" required></td>

											<% if (message.length > 0) { %>
												<td><input disabled class="mr-0" type="submit" value="Add/Update"></td>
												<% } else { %>
													<td><input class="mr-0" type="submit" value="Add/Update"></td>
												<% } %>
										</form>
										<% } %>
			
										<% } %>
									</tr>

								</tbody>
							</table>
						</div>
						<hr>
						<% if (products.length > 0) { %>
						<div class="admin-prod-outer">
							<% for(var i in products) { %>
							<div>
								<div class="float-right mb-20">
									
								<form role="form" style="display: inline;" method="post" action="/admin-edit" enctype="multipart/form-data">
									<input style="display: none;" name="editId" value="<%= products[i].id%>" type="number">
									<input style="display: none;" name="categoryId" value="<%= categoryId%>" type="text">
									<input style="display: none;" name="subCategoryId" value="<%= subCategoryId%>" type="text">
									<% if (message.length > 0) { %>
									<input type="submit" class="admin-edit-button" value="Edit">
									<% } else { %>
									<input type="submit" class="admin-edit-button" value="Edit">
									<% } %>
								</form>

								<form role="form" style="display: inline;" method="post" action="/admin-delete" enctype="multipart/form-data">
								<input style="display: none;" name="deleteId" value="<%= products[i].id%>" type="number">
								<input style="display: none;" name="categoryId" value="<%= categoryId%>" type="text">
								<input style="display: none;" name="subCategoryId" value="<%= subCategoryId%>" type="text">
								<% if (message.length > 0) { %>
								<td><button disabled type="submit">Delete</button></td>
								<% } else { %>
								<input type="submit" onclick="return confirm('Are you sure you want to Delete?')" class="admin-delete-button" value="Delete">
								<% } %>
								</form>
								</div>
								<!-- <img style="height: 40px;"
									src="http://localhost:3002/uploads/<%= products[i].img%>"> -->
								<% if(subCategoryId.length == 0) { %>
									<th>Sub Category</th>
									<% if(products[i].displaySubCategory.length > 0) { %>
									<p><%= products[i].displaySubCategory%></p>
									<% } else {%>
										<p>No sub category defined</p>
									<% } %>
									<% } %>
								<p class="prod-li-head-text"><%= products[i].name%></p>
								<p class="prod-li-text">
									<%= products[i].description%>
								</p>
								<p class="prod-li-stock-text"><%= products[i].stockCount%> In Stock</p>
								</p>
								<hr>
							</div>
							<% } %>
						</div>
						<% } else {%>
						<p>No Data Found</p>	
						<% } %>
							
						<!-- <div class="text-center pagination-text">
							<span><i class="fas fa-chevron-circle-left pagination-left-icon"></i></span>
							Page 1 of 3
							<span><i class="fas fa-chevron-circle-right pagination-right-icon"></i></span>
						</div> -->
					</div>
				</div>

			</div>

			</div>
		</section>

		<!--====== End Products Page ======-->

		<% } else { %>
			<!-- <img src="" alt="not found"> -->
			<div style="text-align: center;">
				<img style="width: 65%; height: auto;" class="category-img" alt="not found"
					src="http://localhost:3002/images/403.jpg" />
			</div>
			<% } %>
			
		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>