<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Products</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://15.206.74.51:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->

</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Products Page ======-->

		<section class="contact section-padding">
			<div class="container">

				<div class="section-head spac">
					<h3>Products</h3>
				</div>

				<div class="row">
					<div class="cat-outer col-md-3">
						<p class="cat-heading-text">Categories</p>
						<hr>
						<% if(productCategoryList.length > 0) { %>
						<% for (var i=0; i < productCategoryList.length; i++) { %>
							<div class="cat-link">

								<% if (productCategoryList[i].name==activeLinkName[2]) { %>
									<a style="color: #742E2E;" class="cat-li-text"
										href='/user/<%= productCategoryList[i].name%>' role="button">
										<i class="fas fa-caret-right mr-10"></i>
										<%= productCategoryList[i].displayName%>
									</a>
									<% } else { %>
										<a class="cat-li-text" href='/user/<%= productCategoryList[i].name%>'
											role="button">
											<i class="fas fa-caret-right mr-10"></i>
											<%= productCategoryList[i].displayName%>
										</a>
										<% } %>

											<% if(Object.keys(productCategoryList[i].subCategory).length> 0) { %>
												<a data-toggle="collapse" href="#<%= productCategoryList[i].name%>"><i
														class="fa fa-angle-down" aria-hidden="true"></i></a>
												<% } %>

													<% if(Object.keys(productCategoryList[i].subCategory).length> 0)
														{ %>
														<div class="collapse" id=<%=productCategoryList[i].name%>>
															<div class="card card-body ml-20">
																<% for (var [key, value] of
																	Object.entries(productCategoryList[i].subCategory))
																	{ %>

																	<% if (value==activeLinkName[3]) { %>
																		<a style="color: #FE9126;"
																			class="card-sub-li-text"
																			href="/user/<%= productCategoryList[i].name%>/<%= value%>">
																			<%= key%>
																		</a>
																		<% } else { %>

																			<a class="card-sub-li-text"
																				href="/user/<%= productCategoryList[i].name%>/<%= value%>">
																				<%= key%>
																			</a>

																			<% } %>
																				<% } %>
															</div>
														</div>
														<% } %>
							</div>
							<% } %>
							
							<% } else {%>
								<p>No Data Found</p>	
								<% } %>

					</div>

					<div class="cat-total-text"><span class="admin-product-heading">Total Products: </span>
						<%= products.length %>
					</div><br><br>
					<div class="prod-outer col-md-9">
						<% if (products.length > 0) { %>
						<% for(var i in products) { %>
							<div>
								<p class="prod-li-head-text">
									<%= products[i].name%>
								</p>
								<p class="prod-li-text">
									<%= products[i].description%>
								</p>
								<p class="prod-li-stock-text">
									<%= products[i].stockCount%> In Stock
								</p>
								</p>
								<hr>
							</div>
							<% } %>

							<% } else {%>
								<p>No Data Found</p>	
								<% } %>
					</div>
				</div>

			</div>

			</div>
		</section>

		<!--====== End Products Page ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>